li {
    list-style: none;
}

input {
    outline: none;
    margin: 5px;
    padding: 3px;

    &.ng-valid {
        border: 2px solid green;
    }

    &.ng-invalid {
        border: 2px solid red;
    }
}