<div [formGroup]="person">
  <div>
    <span>Name: </span><input formControlName="name"/>
  </div>
  <div>
    <span>Height: </span><input formControlName="height"/>
  </div>
  <div formGroupName="address" [class.invalid]="addressGroupInvalid">
    <span>Address: </span>
    <input formControlName="houseNumber"/>
    <input formControlName="streetName"/>
    <input formControlName="city"/>
  </div>
  <div>Children: </div>
   <ul formArrayName="childrenNames">
    <li *ngFor="let childName of childrenNames; index as i"> 
       <input [formControlName]="i"/>   
    </li> 
  </ul> 
  <div *ngIf="hobbies?.length">Hobbies: </div>
   <ul formArrayName="hobbies">
    <li *ngFor="let hobby of hobbies; index as i"> 
       <input [formControlName]="i"/>   
    </li> 
  </ul> 
</div>
